@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}
:root {
  --primary-color: #3744F0;
  --text-dark: #3B3B3B;
  --text-light: #575757;
}
