@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #3744F0;
  --text-dark: #333333;
  --text-light: #575757;
  --bg: #E8EBFF;
  --bg-gradient: radial-gradient(circle at 50% 50%, #1e293b 0%, #0f172a 100%);
}